<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.png">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
  <a id="top"></a>
  {% if page.cover %}
    <div class="wrapper cover"><div class="bgd" style="background-image: radial-gradient(ellipse at top left, transparent 50%, var(--secondary)), url({{ site.baseurl }}/assets/images/header/{{ page.cover | default: odense_k.png }})"></div>
  {% else %}
    <div class="wrapper">
  {% endif %}
      <header>
        <div class="sitetitle"><a href="{{ site.url }}{{ site.baseurl }}">{{ site.title | default: site.github.repository_name }}</a></div>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
          {% if site.show_downloads %}
            <li class="download"><a class="buttons" href="{{ site.github.zip_url }}">Download ZIP</a></li>
            <li class="download"><a class="buttons" href="{{ site.github.tar_url }}">Download TAR</a></li>
          {% endif %}
          
          {% if page.linkto == "about" %}
            <li><a class="buttons about" href="{{ site.baseurl }}/about">About HCNC</a></li>
          {% else %}
            <li><a class="buttons home" href="{{ site.url }}{{ site.baseurl }}">Home</a></li>
          {% endif %}
          <li><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></li>
        </ul>
      </header>

      <section>
        <div class="title">
          {% if page.collection and page.slug != "index" %}
            <div class="strap">
              <a href="{{ site.baseurl }}/{{ page.collection }}/">{{ page.collection }}</a>
              {% if page.status %}<span>{{ page.status }}</span>{% endif %}
            </div>
          {% endif %}
            <h1>{{ page.title | default: site.title }}</h1>
          {% if page.subtitle %}
            <p class="subtitle">{{ page.subtitle }}</p>
          {% endif %}
        </div>
        <div class="content">
          {{ content }}


          {% if page.collection == "projects" and page.slug != "index" %}
            {% assign articleslist = site.research | where: "projects", page.slug %}
            {% unless articleslist == empty %}
              <div class="research">
                <h2>Our research</h2>
                <ul>
                  {% for item in articleslist %}
                    <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a> {% if item.subtitle %}{{ item.subtitle }}{% endif %}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endunless %}
          {% endif %}

          {% if page.members %}
            {% if page.members == "" %}
              {% assign team_members = site.team | sort: "surname" %}
            {% else %}
              {% assign team_members = site.team %}
            {% endif %}
            {% assign item_members = page.members %}
            <ul class="bio">
            {% for team_member in team_members %}
              {% if page.members != "" %}
                {% for item_member in item_members %}
                  {% if team_member.username == item_member %}
                  <li><span>{{ team_member.firstname }} <span>{{ team_member.surname }}</span></span>
                    <ul>
                      <li>{{ team_member.position }}</li>
                      <li>{{ team_member.institution }}</li>
                      {% if team_member.website != "" %}<li class="buttons website"><a href="{{ team_member.website }}" title="Website"></a></li>{% endif %}
                      {% if team_member.twitter != "" %}<li class="buttons twitter"><a href="https://www.twitter.com/{{ team_member.twitter }}" title="Twitter"></a></li>{% endif %}
                      {% if team_member.github != "" %}<li class="buttons github"><a href="https://www.github.com/{{ team_member.github }}" title="GitHub"></a></li>{% endif %}
                    </ul>
                  </li>
                  {% elsif team_member.surname == item_member %}
                  <li><span>{{ team_member.firstname }} <span>{{ team_member.surname }}</span></span>
                    <ul>
                      <li>{{ team_member.position }}</li>
                      <li>{{ team_member.institution }}</li>
                      {% if team_member.website != "" %}<li class="buttons website"><a href="{{ team_member.website }}" title="Website"></a></li>{% endif %}
                      {% if team_member.twitter != "" %}<li class="buttons twitter"><a href="https://www.twitter.com/{{ team_member.twitter }}" title="Twitter"></a></li>{% endif %}
                      {% if team_member.github != "" %}<li class="buttons github"><a href="https://www.github.com/{{ team_member.github }}" title="GitHub"></a></li>{% endif %}
                    </ul>
                  </li>
                  {% endif %}
                {% endfor %}
              {% else %}
                  <li><span>{{ team_member.firstname }} <span>{{ team_member.surname }}</span></span>
                    <ul>
                      <li>{{ team_member.position }}</li>
                      <li>{{ team_member.institution }}</li>
                      {% if team_member.website != "" %}<li class="buttons website"><a href="{{ team_member.website }}" title="Website"></a></li>{% endif %}
                      {% if team_member.twitter != "" %}<li class="buttons twitter"><a href="https://www.twitter.com/{{ team_member.twitter }}" title="Twitter"></a></li>{% endif %}
                      {% if team_member.github != "" %}<li class="buttons github"><a href="https://www.github.com/{{ team_member.github }}" title="GitHub"></a></li>{% endif %}
                    </ul>
                  </li>
              {% endif %}
            {% endfor %}
            </ul>
          {% endif %}

          {% if page.projects or page.project %}
            {% assign all_projects = site.projects | sort: "title" %}
            {% if page.projects %}
              {% assign item_projects = page.projects %}
            {% elsif page.project %}
              {% assign item_projects = page.project %}
            {% endif %}
            <ul class = "projects">
              {% for project in all_projects %}
                {% if item_projects != "" %}
                  {% for item_project in item_projects %}
                    {% if item_project == project.slug %}
                      <li><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                {% endif %}  
              {% endfor %}
            </ul>
          {% endif %}

        </div>
      </section>
      <footer>
        <div>
          <ul>
            {% assign developers = site.team | where: "role", "Developer" | sort: "surname" %}
            {% unless developers == empty %}
              <li><span>Developed by</span>
                {% for person in developers %}
                  {% if person.website != "" %}
                    <div><a href="{{ person.website }}">{{ person.firstname }} {{ person.surname }}</a></div>
                  {% elsif person.github != "" %}
                    <div><a href="https://www.github.com/{{ person.github }}">{{ person.firstname }} {{ person.surname }}</a></div>
                  {% else %}
                    <div>{{ person.firstname }} {{ person.surname }}</div>
                  {% endif %}
                {% endfor %}
              </li>
            {% endunless %}
            {% assign contacts = site.team | where: "role", "Contact" | sort: "surname" %}
            {% unless contacts == empty %}
              <li><span>Maintained by</span>
                {% for person in contacts %}
                  {% if person.website != "" %}
                    <div><a href="{{ person.website }}">{{ person.firstname }} {{ person.surname }}</a></div>
                  {% elsif person.github != "" %}
                    <div><a href="https://www.github.com/{{ person.github }}">{{ person.firstname }} {{ person.surname }}</a></div>
                  {% else %}
                    <div>{{ person.firstname }} {{ person.surname }}</div>
                  {% endif %}
                {% endfor %}
              </li>
            {% endunless %}
            <li><span>Hosted on</span><a href="https://pages.github.com">GitHub Pages</a></li>
          </ul>
          <div class="footerlinks">
            <a href="{{ site.github.repository_url }}" class = "github" title = "View On GitHub"></a>
            <a href="#top" class = "top" title = "Back to top"></a>
          </div>
        </div>
      </footer>
    </div>
    
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
