<!doctype html>
<html lang="{{ site.lang | default: 'en-GB' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/svg+xml" href="{{ site.baseurl }}/assets/favicon.svg">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
  <a id="top"></a>
  <!--{% if page.cover %}
    <div class="wrapper cover"><div class="bgd" style="background-image: radial-gradient(ellipse at top left, transparent 50%, var(--secondary)), url({{ site.baseurl }}/assets/images/header/{{ page.cover | default: odense_k.png }})"></div>
  {% else %}
    <div class="wrapper">
  {% endif %}-->
      <header>
        <a class="brand" href="{{ site.url }}{{ site.baseurl }}" title="{{ site.title | default: site.github.repository_name }}">HCNC</a>
        <ul>
          <li><a href="{{ site.baseurl }}/about">About</a></li>
          <li><a href="https://zenodo.org/communities/hcnc/records?q=&l=list&p=1&s=10" target="_blank">Data</a></li>
          <li><a href="{{ site.github.repository_url }}" target="_blank">GitHub</a></li>
        </ul>
      </header>
      <main>
        <div class="title">
          <div class="brand">{{ site.title | default: site.github.repository_name }}</div>
          {% if page.collection and page.slug != "index" %}
            <div class="strap">
              <a href="{{ site.baseurl }}/{{ page.collection }}/">{{ page.collection }}</a>
              {% if page.status %}<span>{{ page.status }}</span>{% endif %}
            </div>
          {% endif %}
            <h1>{{ page.title | default: site.title }}</h1>
          {% if page.subtitle %}
            <p class="subtitle">{{ page.subtitle }}</p>
          {% endif %}
        </div>

        <section>
          {{ content }}


          {% if page.collection == "projects" and page.slug != "index" %}
            {% assign articleslist = site.research | where: "projects", page.slug %}
            {% unless articleslist == empty %}
              <h2>Our research</h2>
              <ul class="boxes">
                {% for item in articleslist %}
                  {% if item.slug == "index" %}
                  {% elsif item.status == "completed" %}
                  <li class="completed"><a href="{{ site.baseurl }}{{ item.url }}"><span>{{ item.title }}</span> {% if item.subtitle %}{{ item.subtitle }}{% endif %}</a></li>
                  {% else %}
                  <li><a href="{{ site.baseurl }}{{ item.url }}"><span>{{ item.title }}</span> {% if item.subtitle %}{{ item.subtitle }}{% endif %}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endunless %}
          {% endif %}

          {% if page.members %}
            {% if page.members == "" %}
              <h2>Team</h2>
              <p>Meet the people working on the HCNC project.</p>
            {% endif %}
            {% assign team_members = site.team | sort: "surname" %}
            {% assign item_members = page.members %}
            <ul class="bio">
              {% if page.members != "" %}
                {% for item_member in item_members %}
                  {% for team_member in team_members %}
                    {% assign weblinks = team_member.website | default: "" %}
                    {% if team_member.username == item_member %}
                    <li><span>{{ team_member.firstname }} <span>{{ team_member.surname }}</span></span>
                      <ul>
                        <li>{{ team_member.position }}</li>
                        <li>{{ team_member.institution }}</li>
                        {% for weblink in weblinks %}<li class="buttons website"><a href="{{ weblink }}" title="Website"></a></li>{% endfor %}
                        {% if team_member.bluesky and team_member.bluesky != "" %}<li class="buttons bluesky"><a href="{{ team_member.bluesky }}" title="Bluesky"></a></li>{% endif %}
                        {% if team_member.twitter and team_member.twitter != "" %}<li class="buttons twitter"><a href="https://www.twitter.com/{{ team_member.twitter }}" title="X"></a></li>{% endif %}
                        {% if team_member.github and team_member.github != "" %}<li class="buttons github"><a href="https://www.github.com/{{ team_member.github }}" title="GitHub"></a></li>{% endif %}
                      </ul>
                    </li>
                    {% elsif team_member.surname == item_member %}
                    <li><span>{{ team_member.firstname }} <span>{{ team_member.surname }}</span></span>
                      <ul>
                        <li>{{ team_member.position }}</li>
                        <li>{{ team_member.institution }}</li>
                        {% for weblink in weblinks %}<li class="buttons website"><a href="{{ weblink }}" title="Website"></a></li>{% endfor %}
                        {% if team_member.bluesky and team_member.bluesky != "" %}<li class="buttons bluesky"><a href="{{ team_member.bluesky }}" title="Bluesky"></a></li>{% endif %}
                        {% if team_member.twitter and team_member.twitter != "" %}<li class="buttons twitter"><a href="https://www.twitter.com/{{ team_member.twitter }}" title="X"></a></li>{% endif %}
                        {% if team_member.github and team_member.github != "" %}<li class="buttons github"><a href="https://www.github.com/{{ team_member.github }}" title="GitHub"></a></li>{% endif %}
                      </ul>
                    </li>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              {% else %}
                {% for team_member in team_members %}
                  <li><span>{{ team_member.firstname }} <span>{{ team_member.surname }}</span></span>
                    <ul>
                      <li>{{ team_member.position }}</li>
                      <li>{{ team_member.institution }}</li>
                      {% for weblink in weblinks %}<li class="buttons website"><a href="{{ weblink }}" title="Website"></a></li>{% endfor %}
                      {% if team_member.bluesky and team_member.bluesky != "" %}<li class="buttons bluesky"><a href="{{ team_member.bluesky }}" title="Bluesky"></a></li>{% endif %}
                      {% if team_member.twitter and team_member.twitter != "" %}<li class="buttons twitter"><a href="https://www.twitter.com/{{ team_member.twitter }}" title="X"></a></li>{% endif %}
                      {% if team_member.github and team_member.github != "" %}<li class="buttons github"><a href="https://www.github.com/{{ team_member.github }}" title="GitHub"></a></li>{% endif %}
                    </ul>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          {% endif %}

          {% if page.projects or page.project %}
            {% assign all_projects = site.projects | sort: "title" %}
            {% if page.projects %}
              {% assign item_projects = page.projects %}
            {% elsif page.project %}
              {% assign item_projects = page.project %}
            {% endif %}
            <ul class = "projects">
              {% for project in all_projects %}
                {% if item_projects != "" %}
                  {% for item_project in item_projects %}
                    {% if item_project == project.slug %}
                      {% if project.shorttitle %}
                        <li><a href="{{ site.baseurl }}{{ project.url }}">{{ project.shorttitle }}</a></li>
                      {% else %}
                        <li><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
                      {% endif %}  
                    {% endif %}
                  {% endfor %}
                {% endif %}  
              {% endfor %}
            </ul>
          {% endif %}

        </section>
      </main>
      <footer>
        <ul>
          <li class="sdu"><a href="https://www.sdu.dk" target="_blank" title="University of Southern Denmark">University of Southern Denmark</a></li>
          <li class="uio"><a href="https://www.uio.no" target="_blank" title="University of Oslo">University of Oslo</a></li>
          <li class="uit"><a href="https://www.uit.no" target="_blank" title="UiT The Arctic University of Norway">UiT The Arctic University of Norway</a></li>
          <li class="tu"><a href="https://www.tu-dortmund.de" target="_blank" title="TU Dortmund University">TU Dortmund University</a></li>
        </ul>
        <a href="#top" class="back-to-top" title="Back to top"></a>
    </footer>
    </div>
    
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
